@model Practice_MVC_ASP_EntityF_CRUD.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tutor.TutorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.TutorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Studentname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studentname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
